#org_logo{
    width: 300px;
    height: 100px;
    margin-top: 80px;
    margin-left: 110px;
}

img{
    float: right;
    width: 40%;
    height: 1000px;
}

li {
    float: left;
    
  }

#heading1{
    
    margin-top: 50px;
    margin-left: 240px;
    color: rgb(15, 11, 9);
    font-style:bold;
    font-weight: 100;
}

#label5{
    opacity: 0.5;
    margin-left: 90px;
}

#button1{
    border:1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 3px;
    margin-left: 240px;
    margin-top: 40px;
    text-align: center;
    height: 3.5em;
    width: 30em;
    color: gray;
    cursor: pointer;

}

.l1 {
    margin-left: 150px;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    
}
#ltrial {
    margin-left: 240px;
}

#rem{
    opacity: 0.5;

}

#google_icon{
    height: 30px;
    width:30px;
    position: absolute;
    left:1px;
    font-size: 4em;
    margin-top: 47px;
    margin-left: 255px;
    margin-bottom: 20px;
    cursor: pointer;
    opacity: 0.7;
}

#button3{
    border-radius: 10px;
    width: 30em ;
    height:3em;
    margin-top: 40px;
    background-color: blue;
    color: azure;
    cursor: pointer;
}
.pass-box{
    position: relative;
}

.label1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin-top: 0;
    opacity: 0.5;
}
#label4{
    opacity: 0.6;
    margin-top: 40px;
    margin-left: 90px;
    
}
::placeholder{
    font-style: italic;
    right: 20px;
    font-size: 15px;
    opacity: 0.6;
}
.div4{
    margin-top: 40px;
    margin-left: 150px;
}
h5{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 350px;
    opacity: 0.5;
    color: rgb(94, 88, 88);
}
form{
    margin-left: 240px;
    margin-top: 20px;
}
.link1{
    margin-left: 150px;
    opacity:0.35;
    color: rgb(58, 47, 47);
}
.link1:hover{
    color: blueviolet;
}
::placeholder{
    color: grey;
    opacity: 0.7;
    size: 5em;
}

input:focus{
    border-color:blue; 
}
.inputs{
    border: 1px solid rgb(92, 89, 89);
    border-radius: 6px;
    box-sizing: border-box;
    text-align: left;
    font-size: 1em;
    margin-top: 10px;
    width: 12.5em;
    height: 1.5em;
    font-size: 2em;
    opacity: 0.3;
}

  #slink
  {
      color: grey;

  }
  #slink:hover{
      color: blue;
  }

  