#org_logo{
    width: 300px;
    height: 100px;
    margin-top: 80px;
    margin-left: 250;
}

img{
    float: right;
    margin-top: 0;
    width: 40%;
    height: 1000px;
}

li {
    float: left;
    
  }

#heading1{
    
    margin-top: 50px;
    margin-left: 150px;
    color: rgb(15, 11, 9);
    font-style:bold;
    font-weight: 100;
}

#label5{
    opacity: 0.5;
}

#button1{
    margin-left: 150px;
    margin-top: 50px;
    text-align: center;
    height: 4em;
    width: 35em;
    opacity: 0.7;
    color: rgb(83, 81, 81);
    cursor: pointer;

}

.l1 {
    margin-left: 150px;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    
}
#ltrial {
    margin-left: 150px;
}

#rem{
    opacity: 0.5;

}

#google_icon{
    height: 40px;
    width:40px;
    position: absolute;
    left:1px;
    font-size: 4em;
    margin-top: 55px;
    margin-left: 175px;
    margin-bottom: 20px;
    cursor: pointer;
    opacity: 0.7;
}

#button3{
    border-radius: 10px;
    width: 30em ;
    height:3em;
    margin-top: 40px;
    background-color: blue;
    color: azure;
}
.pass-box{
    position: relative;
}

.labels{
    margin-top: 0;
    opacity: 0.5;
}
#label4{
    opacity: 0.6;
    margin-top: 40px;
    
}
::placeholder{
    font-style: italic;
    right: 20px;
    font-size: 25px;
    opacity: 0.6;
}
.div4{
    margin-top: 40px;
    margin-left: 150px;
}
h5{
    margin-left: 300px;
    opacity: 0.5;
    
    color: rgb(94, 88, 88);
}
form{
    margin-left: 145px;
    margin-top: 20px;
}
.link1{
    margin-left: 230px;
    opacity:0.35;
    color: grey;
}
.link1:hover{
    color: blueviolet;
}
::placeholder{
    color: grey;
    opacity: 0.7;
    size: 5em;
}

input:focus{
    border-color:blue; 
}
.inputs{
    box-sizing: border-box;
    text-align: left;
    font-size: 1em;
    margin-top: 10px;
    width: 15em;
    height: 2em;
    font-size: 2em;
    opacity: 0.3;
}

  #slink
  {
      color: grey;

  }
  #slink:hover{
      color: blue;
  }

  